click==6.6
defusedxml==0.4.1
Flask==0.11.1
futures==3.0.5
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
porc==0.5.4
six==1.10.0
SOAPpy==0.12.22
virtualenv==15.0.3
Werkzeug==0.11.11
wstools==0.4.3
Flask-Mail==0.9.1
mysql-connector==2.1.4
mysqlclient==1.3.7